<footer class="text-center text-white py-5" style="background-color: #2c3e50;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">LOCATION</h5>
        <p class="mb-0">2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">AROUND THE WEB</h5>
        <div class="d-flex justify-content-center">
          <a href="#" class="btn btn-outline-light btn-social d-flex justify-content-center align-items-center m-1 p-2 rounded-circle" style="width: 38px; height: 37px;">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="btn btn-outline-light btn-social d-flex justify-content-center align-items-center m-1 p-2 rounded-circle" style="width: 38px; height: 37px;">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="btn btn-outline-light btn-social d-flex justify-content-center align-items-center m-1 p-2 rounded-circle" style="width: 38px; height: 37px;">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="#" class="btn btn-outline-light btn-social d-flex justify-content-center align-items-center m-1 p-2 rounded-circle" style="width: 38px; height: 37px;">
            <i class="bi bi-globe"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">ABOUT FREELANCER</h5>
        <p class="mb-0">Freelance is a free to use, licensed</p>
        <p>Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</footer>
<div class="text-center py-3 text-white" style="background-color: #233140;">
  Copyright © Your Website 2021
</div>
