<div class="main container bg-white d-flex justify-content-center align-items-center flex-column">
  <h2>CONATCT SECTION</h2>
  <div class="d-flex align-items-center justify-content-center mb-3">
    <div class="line me-3" style="background-color: black;"></div>
    <i class="bi bi-star-fill"></i>
    <div class="line ms-3" style="background-color: black;"></div>
  </div>
  <form class="w-50 mx-auto">
    <div class="mb-3">
      <input type="text" class="form-control border-0 border-bottom py-3 position-relative"
        id="userName" placeholder="userName">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control border-0 border-bottom py-3 position-relative"
        id="userAge" placeholder="userAge">
    </div>
    <div class="mb-3">
      <input type="email"
        class="form-control border-0 border-bottom py-3 position-relative" id="userEmail"
        placeholder="userEmail">
    </div>
    <div class="mb-3">
      <input type="password"
        class="form-control border-0 border-bottom py-3 position-relative"
        id="userPassword" placeholder="userPassword">
    </div>
    <button class="btn btn-disabled-success">Send Message</button>
  </form>
</div>
