<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid d-flex w-75 py-3">
    <a class="navbar-brand text-white" routerLink="home"><h3 id="nav-logo">START FRAMEWORK</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold active" aria-current="page" routerLink="about" routerLinkActive="btn btn-success">About</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold active" aria-current="page" routerLink="portfolio" routerLinkActive="btn btn-success">Portfolio</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-white fw-bold active" aria-current="page" routerLink="contact" routerLinkActive="btn btn-success">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="sperator"></div>
