<div class="container mb-5 text-center d-flex justify-content-center align-items-center flex-column">
  <h1 class="title">PORTFOLIO COMPONENT</h1>
  <div class="d-flex align-items-center justify-content-center mb-3">
    <div class="line me-3" style="background-color: black;"></div>
    <i class="bi bi-star-fill"></i>
    <div class="line ms-3" style="background-color: black;"></div>
  </div>
  <div class="portfolio">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 ">
        <div class="overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="/poert1.png" alt="">
          <div
            class="overlay position-absolute rounded-3 start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="/port2.png" alt="">
          <div
            class="overlay position-absolute rounded-3 start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="/port3.png" alt="">
          <div
            class="overlay position-absolute rounded-3 start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="/poert1.png" alt="">
          <div
            class="overlay position-absolute rounded-3 start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="/port2.png" alt="">
          <div
            class="overlay position-absolute rounded-3 start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="/port3.png" alt="">
          <div
            class="overlay position-absolute rounded-3 start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
