<div class="main text-white text-center d-flex justify-content-center align-items-center flex-column">
  <img src="/avataaars.svg" alt="Person with background" class="mb-3" width="200px">
  <h1 class="title">START FRAMEWORK</h1>
  <div class="d-flex align-items-center justify-content-center mb-3">
    <div class="line me-3" style="background-color: white;"></div>
    <i class="bi bi-star-fill"></i>
    <div class="line ms-3" style="background-color: white;"></div>
  </div>
  <p class="subtitle">Graphic Artist - Web Designer - Illustrator</p>
</div>
